.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--footer-bg);
  border-top: 1px solid var(--footer-border);
  height: 50px;
  color: var(--text-secondary);
}
.footer .container-xl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
